.b-full-media {
  display: block;

  @extend .clearfix;
  img {
    width: 100%;
  }
}
.b-full-media--slim {
  @extend .b-full-media;
  padding:0  14%;
  margin-bottom: 16%;
  @include breakpoint(mobile) {
    padding:0;
    margin-bottom: 25%;
  }
}
