.b-heading-animation {
  display: block;
  overflow: hidden;
  height: 100vh;
  position: relative;
  // padding-top:100%;
  // transform: translateZ(0);
  svg {
    overflow: hidden;
  }
}
.b-heading-animation__lines {
  width: 100%;
  img, svg {
    width: 100%;
  }
  position: absolute;
  top: -0.11%;
  left:0;
  // -webkit-animation: lineDance 1.0s infinite linear;
  .svg-desk {
    @include breakpoint(mobile) {
      display: none;
    }
  }
  .svg-mobile {
    display: none;
    @include breakpoint(mobile) {
      display: block;

    }
  }
  // margin-top:-3%;
  @include breakpoint(mobile) {
    width: 250%;
    left: -75%;

  }
}
.go-down-line {
  width: 2px;
  height: 120px;
  margin-top:-100px;
  margin-left:-1px;
  position: absolute;
  top:100vh;
  background: #FF184B;
  left:50%;
  z-index: 10;
  -webkit-animation:lineDance 2.4s infinite ease-in-out;
}
.b-heading-animation__typo {
  position: relative;
  top:0;
  left:0;
  top:50%;
  transform:translateY(-50%);
  path:not(.st0) {
    // fill:red;

  }
  .st0 {
    fill:none !important;
  }
  @include breakpoint(mobile) {
    width: 250%;
    left: -75%;
  }
}
@-webkit-keyframes lineDance {
  0%{ transform: translateY(-22.8%);}
  37%{ transform: translateY(10.8%);}
  100%{ transform: translateY(-22.8%);}
}
@-webkit-keyframes color {
  0% { fill:cyan}
  10% { fill:blue}
  20% { fill:red}
  30% { fill:yellow}
  40% { fill:orange}
  50% { fill:gray}
  60% { fill:purple}
  70% { fill:blue}
  80% { fill:red}
  90% { fill:yellow}
  100% { fill:pink}

}
