.foreverBlack {
  background-color: rgba(0,0,0,0) !important;
}
.header {
  height: 64px;
  line-height: 64px;
  padding:0px;
  position: fixed;
  width: 100%;
  top:0;
  -webkit-transition: top 900ms, background-color 400ms;
  -o-transition: top 900ms, background-color 400ms;
  transition: top 900ms, background-color 400ms;
  z-index: 17;
  &.shown {
    top: 0px;
  }
  &.black {
    .header__link a {
      color:#424242;
    }
    background-color: rgba(255, 255, 255, 0.0);
    .after-logo {
      &.black {
        opacity: 0;
      }
      &.white {
        opacity: 1;
        margin-left: -102px;
        margin-top: 23px;
        width: 82px;
      }
    }
  }
  &.white {
    background-color: rgba(255, 255, 255, 0.61);
    .after-logo {
      &.black {
        opacity: 1;
      }
      &.white {
        opacity: 0;
      }
    }
  }
  background-color: rgba(255, 255, 255, 0);
  @include breakpoint(mobile){
    position: absolute;
    top:0;
  }
}
.header--transparent {
  background: transparent;
}
.header__links {
  float: left;
  width: auto;
  height: 100%;
  line-height: 40px;
  margin-left: 19%;
  transform: translateY(-20%);
  padding-top: 45vh;
  &:hover {
    li {
      color:#424242;
    }
  }
  li:hover {
    color:#f2f2f2 !important;
    p {
      opacity: 1;
    }
  }
  @include breakpoint(mobile) {
    margin-left: 4%;
    padding-top: 40vh;
  }
}
.header__link {
  margin-top:0;
  margin-bottom:0;
  // line-height: 96px;
  // font-size: 80px;
  display: block;
  text-align: left;

  line-height: 10.1vh;
  font-size: 8.5vh;
  a {
    color:inherit;
    margin-right: 20px;
    font-weight: 400;
    -webkit-transition: color 400ms;
    -o-transition: color 400ms;
    transition: color 400ms;

  }
  @include breakpoint(mobile) {
    font-size: 52px;
    line-height: 45px;
  }
}
.header .after-logo {
  width: 48px;
  left: 41px;
  margin: 0;
  position: relative;
  top: 23px;
  opacity: 0;
  &.active {
    position:fixed;
    z-index: 1923;
    .cls-1 {
      fill:#fff;
      opacity: 0.2;
    }
  }
  @include breakpoint(mobile){
    width: 34px;
    left: 15px;
    top: 15px;
  }
  @include breakpoint(large){
    // width:122px;
  }
}
.menu-ico {
  opacity: 0;
  position: fixed;
  right: 31px;
  top: 16px;
  background-image: url(../../assets/img/menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 50px;
  cursor: pointer;
  z-index: 9999;
  @include breakpoint(mobile) {
    top: 8px;
    right: 15px;
  }
}
.active.menu-ico {
  background-image:url(../../assets/img/close-nav-ico.svg);
  background-size: 22px;
}
.header__nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  color:#f2f2f2;
  opacity: 0;
  display: none;
  top: 0px;
  background: #151515;
  -webkit-font-smoothing: auto;
  li {
    p {
      opacity: 0;
      // top: -15px;
      position: relative;
      transition:opacity 400ms;
      font-size: 1.8vh;
      top: -1.8vh;
    }

  }

}
.header__social {
  position: relative;
  top: 38vh;
  float: left;
  left: 18%;
  li {
    display:block;
    text-align: left;
    color:#424242;
    font-size: 16px;
    line-height: 20px;
  }
  li:first-child {
    color:#f2f2f2;
  }
  ul:first-child {
    margin-bottom: 4vh;
  }
}
