.l-division {
  display:block;
  // overflow: hidden;
  margin-bottom:10%;
  @extend .clearfix;
  img {
    width: 100%;
  }
}
.l-division--40-60 {
  @extend .l-division;
  .l-division__first {
    @include breakpoint(mobile) {
      width: 100%;
    }
    width: 40%;
    float: left;
  }
  .l-division__second {
    @include breakpoint(mobile) {
      width: 100%;
    }
    width: 60%;
    float: right;
  }
}
.l-division--60-40 {
  @extend .l-division;
  .l-division__first {
    @include breakpoint(mobile) {
      width: 100%;
    }
    width: 60%;
    float: left;
  }
  .l-division__second {
    @include breakpoint(mobile) {
      width: 100%;
    }
    width: 40%;
    float: left;
  }
}

// .img-small {
//   img {
//     width: 73%;
//     margin-left: 11%;
//   }
// }
.l-division__first {
  position: relative;
  @include breakpoint(mobile) {
    margin-bottom: 0%;
  }
  &.img-small {
    img {
      width: 66%;
      margin-right: 16%;
      float: right;
      @include breakpoint(mobile) {
        width: 100%;
        margin:0;
      }
    }
  }
  &.img-big {
    img {
      width: 115%;
      position: relative;
      left: -20.7%;
      @include breakpoint(mobile) {
        width: 154%;
        left: -53.7%;
      }
    }
  }
  &.img-mini {
    img {
      margin-right: 26%;
      float: right;
      width: 51%;
      margin-top: 3%;
    }
  }
  .b-text-block {
    width: 74%;
    float: right;
    margin-top: 11%;
    @include breakpoint(mobile) {
      margin-left: 3%;
      margin-top: 20%;
      width: 97%;
      float: left;
    }
  }
}
.l-division__second {
  position: relative;
  @include breakpoint(mobile) {
    // margin-bottom: 20%;
  }
  .video {
    width: 75%;
    display: block;
    position: relative;
    padding-top: 42.2%;
    margin: 0 auto;
    @include breakpoint(mobile) {
      width: 100%;
      padding:0;
      padding-top: 55%;
    }
  }
  &.img-small {
    img {
      width: 73%;
      margin-left: 11%;
      @include breakpoint(mobile) {
        width: 100%;
        margin:0;
      }
    }
  }
  &.img-big {
    img {
      width: 115%;
      position: relative;
      right: -3.7%;
      margin-top: 5%;
      @include breakpoint(mobile) {
        width: 185%;
      }
    }
  }
  &.img-mini {
    img {
      width: 55%;
      margin-left: 26%;
      @include breakpoint(mobile) {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 15%;
      }
    }
  }
  .b-text-block {
    margin-left: 13%;
    margin-top: 34%;
    width: 74%;
    @include breakpoint(mobile) {
      margin-left: 3%;
      margin-top: 20%;
      width: 97%;
    }
  }
  .b-text-block--no-top {
    margin-top:0;
    @include breakpoint(mobile){
      margin-top:20%;
    }
  }
}
