.main-container {
  width: 100%;
  max-width: 1260px;
  padding: 30px;
  margin: 0 auto;
  // overflow: hidden
  @extend .clearfix;
  @include breakpoint(large){
    max-width: 1400px;
  }
  @include breakpoint(mobile){
    padding:30px 10px;
  }
}
.section {
  // height: 100vh;
  width: 100%;
  float: left;
  overflow: hidden;
  margin-bottom:50px;
  margin-top:150px;
  @include breakpoint(mobile){
    margin-top:20px;
    margin-bottom: 0px;
  }
}
.section--padding {
  padding: 0 10%;
  @include breakpoint(mobile){
    padding: 0 5%;
  }
}
.section--phones {
  text-align: center;
  background: #f2f2f2;
  margin: 0;
  padding-top: 150px;
  padding-bottom: 150px;
  @include breakpoint(mobile){
    // height: 500px;
    // padding: 45px 0 70px;
    img {
      height: 100%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      // margin-top: 20px;
      // margin-bottom: 20px;
    }
  }
}
.section--padding-mobile {
  @include breakpoint(mobile){
    padding: 0 5%;
  }
}
.section--division {
  float: left;
  overflow: hidden;
}
.section__division--40 {
  @extend .section--division;
  width: 44%;
  @include breakpoint(mobile){
    width: 100%;
  }
}
.section__division--60 {
  @extend .section--division;
  width: 56%;
  float: right;
  @include breakpoint(mobile){
    width: 100%;
  }
}
.text-centered {
  text-align: center;
}
.main-wrapper {
  // overflow: auto;
  width: 100%;
  max-width: 1700px;
  margin:0 auto;
  padding:0 50px;
  @include breakpoint(mobile) {
    padding:0 5%;
  }
}
.section--landing {
  padding-top: 10%;

  h4 {
    width: 100%;
    text-align: center;
    color:#ff4646;
    font-size: 26px;
    margin-bottom: 7%;
    @include breakpoint(mobile){
      margin-bottom: 18%;
      font-size: 20px;
    }
  }
}
.section--hos-hp {
  margin-bottom: 16%;
  .l-division__second .b-text-block {
    margin-top:10%;
    @include breakpoint(mobile){

    }
  }
}
.section--power-nap {
  .l-division__first .b-text-block {
    margin-top:-5%;
  }
  div.l-division__second {
    position: relative;
    img {
      width: 40%;
      margin-left:36%;
      @include breakpoint(mobile) {
        width: 40%;
        margin-left: 30%;
      }
    }
    video {
      position: absolute;
      left:39.5%;
      top:12.5%;
      width: 33%;
      @include breakpoint(mobile) {
        left: 33.6%;
      }
    }
  }
}
.section--kolege {
  .l-division__second .b-text-block {
    margin-top:7%;
  }
  .l-division__second.img-big > img.bg {
      width: 85%;
      position: absolute;
      top:0;
      right: -3.9%;
      // margin-top: -17%;
      z-index: -1;
      @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        left: 0;
      }
  }
  @include breakpoint(mobile) {
    div.b-mediabox-slider {
      left: 15%;
      margin-top: 4.7%;
      width: 72%;
    }
  }
}
.section--omar {
  .l-division__second .b-text-block {
    margin-top: 15%;
  }
  .omar-video {
    position: absolute;
    top: 7.40%;
    left: -5.2%;
    width: 84.1%;
  }
}
.section--health {
  .l-division__first .b-text-block {
    margin-top: 6%;
  }
}
.section--infographics {
  padding-bottom: 5%;
  .l-division__second.img-mini img {
    margin-top: 12%;
    width: 65%;
    margin-left: 17%;
    @include breakpoint(mobile) {
      width: 100%;
      margin: 0;
      margin-top: 13%;
      margin-bottom: 16%;
    }
  }
  .b-section-info {
    margin-bottom: 13%;
  }
}
.section--soundcloud {
  .b-full-media--slim {
    position: relative;
  }
  div.b-mediabox-slider {
    position: absolute !important;
    z-index: 20;
    top: 0;
    width: 52.64%;
    left: 23.74%;
    margin-top: 0%;
    @include breakpoint(mobile) {
      width: 73.7%;
      left: 13.2%;
    }
  }
}
