$text__family--Roboto:  'Roboto', sans-serif;
$text__family--UniSans:  'Uni Sans', sans-serif;
$base__font-size: 16px !default;
$base__line: 20 !default;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);
@import url(https://fonts.googleapis.com/css?family=VT323);
@font-face {
    font-family: 'Uni Sans';
    src: url('/ui/uni-sans-heavy.otf') format('opentype'),
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $text__family--Roboto;
	font-size: $base__font-size;
}
