@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none; }

@font-face {
  font-family: 'Uni Sans';
  src: url("/ui/uni-sans-heavy.otf") format("opentype"); }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.section {
  width: 100%;
  float: left;
  overflow: hidden;
  margin-bottom: 150px;
  margin-top: 150px; }
  @media (max-width: 1000px) {
    .section {
      margin-top: 100px;
      margin-bottom: 0px; } }

.section--padding {
  padding: 0 10%; }
  @media (max-width: 1000px) {
    .section--padding {
      padding: 0 5%; } }

@media (max-width: 1000px) {
  .section--padding-mobile {
    padding: 0 5%; } }

.section--division, .section__division--40, .section__division--60 {
  float: left;
  overflow: hidden; }

.section__division--40 {
  width: 44%; }
  @media (max-width: 1000px) {
    .section__division--40 {
      width: 100%; } }

.section__division--60 {
  width: 56%;
  float: right; }
  @media (max-width: 1000px) {
    .section__division--60 {
      width: 100%; } }

.text-centered {
  text-align: center; }

.main-wrapper {
  width: 100%; }

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-weight: 300;
  overflow: hidden;
  position: relative; }
  @media (max-width: 1000px) {
    body {
      overflow-x: scroll; } }

::-webkit-scrollbar {
  display: none; }

* {
  margin: 0;
  padding: 0; }

.main-wrapper {
  overflow: hidden; }

.mask {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: url("../../assets/img/dotted-texture22.png");
  background-size: 7px;
  opacity: 0.41;
  z-index: 2;
  -webkit-animation: twich 2s infinite forwards; }

@keyframes twich {
  0% {
    background-image: url("../../assets/img/dotted-texture22.png"); }
  50% {
    background-image: url("../../assets/img/dotted-texture20.png"); } }

@keyframes tilt {
  0% {
    left: -2px; }
  20% {
    left: -4px; }
  40% {
    left: -6px; }
  60% {
    left: -8px; }
  80% {
    left: -10px; }
  100% {
    left: -12px; } }

.viewport__container {
  width: 100%;
  height: 100vh;
  position: relative; }
  .viewport__container canvas {
    width: 100%; }

.main-heading {
  text-align: center;
  position: absolute;
  opacity: 0;
  bottom: 20vh;
  font-size: 6.5vw;
  font-weight: 900;
  color: #222;
  line-height: 8.16667vw;
  left: 50%;
  transform: translateX(-50%);
  width: 87%; }
  @media (min-width: 1170px) {
    .main-heading {
      font-size: 78px;
      line-height: 98px;
      width: 1050px; } }

a {
  text-decoration: none; }

h2, h3 {
  text-align: center;
  margin-bottom: 20px; }

ul {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center; }

li {
  list-style-type: none;
  display: inline-block;
  margin: 10px; }

.header {
  height: 70px;
  line-height: 70px;
  padding: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }
  @media (max-width: 1000px) {
    .header {
      position: absolute; } }

.after-logo {
  width: 4%;
  margin-top: -27px;
  margin-left: -9px; }
  @media (max-width: 1000px) {
    .after-logo {
      width: 104px; } }
  @media (min-width: 1170px) {
    .after-logo {
      width: 122px; } }

.fold-actions__container {
  position: fixed;
  top: 100vh;
  width: 100%;
  height: 6%;
  z-index: 2222; }

.fold-actions {
  position: relative;
  top: 0%;
  height: 100%;
  line-height: 6%;
  background: rgba(255, 255, 255, 0.61);
  text-align: center;
  z-index: 99;
  cursor: pointer;
  width: 100%; }
  @media (max-width: 1000px) {
    .fold-actions {
      display: none; } }

.arrow {
  display: inline-block;
  height: 100%;
  background-image: url("../../assets/img/arrow.png");
  height: 100%;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: 15px; }

.text-block {
  max-width: 540px;
  margin-bottom: 5.75vw; }
  @media (min-width: 1170px) {
    .text-block {
      margin-bottom: 69px; } }
  @media (max-width: 1000px) {
    .text-block {
      font-size: 15px;
      line-height: 26px; } }

.text-block--centered {
  display: inline-block;
  float: none;
  text-align: left; }

.text-block__order {
  font-size: 1.91667vw;
  margin-bottom: 1vw;
  color: #ff4646; }
  @media (min-width: 1170px) {
    .text-block__order {
      font-size: 23px;
      margin-bottom: 12px; } }
  @media (max-width: 1000px) {
    .text-block__order {
      font-size: 22px;
      margin-bottom: 15px; } }

.text-block__heading {
  font-weight: 500;
  margin-bottom: 5.33333vw;
  font-size: 5.66667vw; }
  @media (min-width: 1170px) {
    .text-block__heading {
      font-size: 68px;
      margin-bottom: 64px; } }
  @media (max-width: 1000px) {
    .text-block__heading {
      font-size: 32px; } }

.text-block__heading--small {
  font-weight: 500;
  margin-bottom: 2.75vw;
  font-size: 1.91667vw; }
  @media (min-width: 1170px) {
    .text-block__heading--small {
      font-size: 23px;
      margin-bottom: 33px; } }
  @media (max-width: 1000px) {
    .text-block__heading--small {
      font-size: 22px; } }

.text-block__text {
  font-size: 1.33333vw;
  line-height: 2.41667vw; }
  @media (min-width: 1170px) {
    .text-block__text {
      font-size: 16px;
      line-height: 29px; } }
  @media (max-width: 1000px) {
    .text-block__text {
      font-size: 15px;
      line-height: 27px;
      margin-top: 16px; } }

.button {
  display: block;
  float: left;
  color: #ff4646;
  margin-top: 3.58333vw;
  font-size: 1.33333vw;
  cursor: pointer; }
  @media (min-width: 1170px) {
    .button {
      margin-top: 50px;
      font-size: 16px; } }
  @media (max-width: 1000px) {
    .button {
      font-size: 18px;
      margin-bottom: 20px; } }

.iphone {
  margin-top: 9.91667vw;
  max-width: 100%;
  width: 72%;
  margin-right: 28%; }
  @media (min-width: 1170px) {
    .iphone {
      margin-top: 119px; } }
  @media (max-width: 1000px) {
    .iphone {
      margin-top: 50px;
      max-width: 100%;
      width: 84%;
      margin: 0 auto;
      float: none;
      display: block;
      margin-top: 50px; } }

.graphic-container {
  width: 100%;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
  margin-top: 55px;
  float: left;
  padding: 0 10%; }

.graphic-container--left,
.graphic-container--right {
  width: 50%;
  float: left; }

.graphic-container--left {
  padding-right: 2%; }

.graphic-container--right {
  padding-left: 2%;
  margin-top: 10%; }

.graphic-container__item {
  width: 100%;
  margin-bottom: 7.6%;
  float: left; }
  .graphic-container__item img {
    width: 100%; }

.graphic-container__item--type1 {
  width: 85%;
  float: right;
  margin-left: 15%; }

.graphic-container__item--type2 {
  width: 85%;
  float: left;
  margin-right: 15%; }

.first {
  margin-left: 0; }

.last {
  margin-right: 0; }

.soundcloud__container {
  float: left;
  position: relative;
  width: 100%; }

.soundcloud {
  width: 100%;
  padding: 0 10%;
  float: left;
  position: relative;
  margin-top: 14%;
  text-align: center; }
  .soundcloud img {
    width: 100%;
    margin-bottom: 300px; }
    @media (max-width: 1000px) {
      .soundcloud img {
        margin-bottom: 50px;
        margin-top: 20px; } }

.soundcloud--left,
.soundcloud--right {
  float: left; }

.soundcloud--left {
  width: 58%;
  padding-right: 5%; }
  @media (max-width: 1000px) {
    .soundcloud--left {
      width: 100%; } }

.soundcloud--right {
  width: 42%;
  text-align: left;
  float: right; }
  @media (max-width: 1000px) {
    .soundcloud--right {
      width: 100%; } }

.blue-background {
  background: #f2f2f2;
  width: 100%;
  position: absolute;
  top: 0;
  height: 49%; }
  @media (max-width: 1000px) {
    .blue-background {
      display: none; } }

.footer {
  width: 100%;
  border-top: 1px solid #f2f2f2;
  float: left;
  padding: 5%; }
  @media (max-width: 1000px) {
    .footer {
      padding-top: 54px; } }

.footer-elements {
  width: 100%; }

.footer-elements__item {
  display: inline-block;
  width: 24%;
  list-style-type: none;
  vertical-align: top;
  margin: 0; }
  .footer-elements__item .after-logo, .footer-elements__item .we-are {
    display: block;
    float: left;
    margin: 0; }
  .footer-elements__item .after-logo {
    width: 92px;
    margin-right: 27px; }
  @media (max-width: 1000px) {
    .footer-elements__item {
      width: 100%; } }

.footer-elements__item:nth-child(3) {
  width: 15%; }
  @media (max-width: 1000px) {
    .footer-elements__item:nth-child(3) {
      width: 100%; } }

.footer-elements__item:nth-child(4) {
  width: 35%; }
  @media (max-width: 1000px) {
    .footer-elements__item:nth-child(4) {
      width: 100%; } }

.footer-nav__element {
  display: block;
  margin-bottom: 15px;
  text-align: left; }

.footer-elements__contact {
  float: left;
  text-align: left; }
  .footer-elements__contact p {
    margin-bottom: 6px; }
  .footer-elements__contact a {
    color: #ff4646; }

.map {
  float: left;
  margin-right: 20px;
  width: 33%;
  max-width: 150px; }
  @media (max-width: 1000px) {
    .map {
      display: none; } }

.footer-social__item {
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  display: block;
  margin: 0;
  margin-right: 13px;
  float: left;
  margin-top: 20px; }

.footer-social {
  margin-top: 60px; }

.fb {
  background-image: url(../../assets/img/fb.png); }

.twitter {
  background-image: url(../../assets/img/twitt.png); }

.gplus {
  background-image: url(../../assets/img/gplus.png); }

.insta {
  background-image: url(../../assets/img/insta.png); }
